matplotlib==3.8.3
numpy==1.26.4
opencv-python==4.9.0.80
openni==2.3.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
serial==0.0.97
gitpython>=3.1.30
psutil
requests>=2.23.0
scipy>=1.4.1
# thop>=0.1.1
tqdm>=4.64.0
ultralytics>=8.0.232
pandas>=1.1.4
seaborn>=0.11.0
onnx>=1.10.0
onnx-simplifier>=0.4.1
setuptools>=65.5.1
openvino==2023.3.0
openvino-telemetry==2023.2.1

# For torch, please visit the official website to download the CPU version.
